<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Joe Szaf.</p>
      <p>Fake data and instructions provided by 1up Health. More information can be found <a href="http://34.74.56.14/index.html">here</a>.</p>
    </div>

    {{>footer}}
  </body>
</html>
