<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>
        Use this site to find to query the 1up database to find patients and their associated alleriges.
      </p>

      <form>
        <input id="given-input" placeholder="Given name"/>
        <input id="family-input" placeholder="Family name"/>
        <button>Search</button>
      </form>

      <p id="message-1"></p>
      <ul id="message-2"></ul>

      <h5>Example names (given, family) with data:</h5>
      <ul class="example-names">
        <li>Eduardo902 Rascón630</li>
        <li>Elaine830 Rodriguez71</li>
        <li>Marshall526 Zboncak558</li>
      </ul>
    </div>

    {{>footer}}
    </div>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
