<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Joe Szaf.</p>
    </div>

    {{>footer}}
  </body>
</html>
