<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>
        Use this site to find to query the 1up database to find patients and their associated alleriges.
      </p>

      <form>
        <input placeholder="Location"/>
        <button>Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>
      <p id="message-3"></p>

    </div>

    {{>footer}}

    <!-- <script type="text/javascript" src="/js/app.js"></script> -->
  </body>
</html>
